<div class="d-flex justify-content-end me-2">
    <%= link_to root_path, class: "text-primary fw-bold fs-2 text-decoration-none" do%>
        blabber.
    <% end %>
</div>
<ul class="nav flex-column align-items-end">
    <li class="nav-item">
        <%= link_to_unless_current "Your Feed", root_path, class: "nav-link active" do %>
            <p class="nav-link fw-bolder text-body">Your Feed</p>
        <% end %>
        <%= link_to_unless_current "Edit Profile", edit_user_registration_path, class: "nav-link active" do %>
            <p class="nav-link fw-bolder text-body">Edit Profile</p>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-link fw-bolder text-body text-end" %>
    </li>
</ul>
