<div class="d-flex justify-content-end me-2">
    <%= link_to root_path, class: "text-primary fw-bold fs-2 text-decoration-none" do%>
        blabber.
    <% end %>
</div>

<hr/>

<ul class="nav nav-pills flex-column align-items-end mt-4">
    <li class="nav-item">
        <%= link_to_unless_current "Your Feed", root_path, class: "nav-link" do %>
            <p class="nav-link fw-bolder text-body">Your Feed</p>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to_unless_current "Settings", settings_path, class: "nav-link" do %>
            <p class="nav-link fw-bolder text-body">Settings</p>
        <% end %>
    </li>
    <li class="nav-item">
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
</ul>
